:root {
  --primary-color: #dad7cd;
  --secondary-color: #3a5a40;
  --tertiary-color: #588157;
  --accent-color: #bc6c25;

  --complement-secondary: #a3b18a;

  --small-font: 1.25rem;
  --smallest-font: 0.75rem;
  --minimal-font: 0.5rem;

  --heading-font: 2.5rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: monospace;
}

body {
  position: relative;

  background-color: var(--primary-color);

  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main";
  grid-template-rows: 75px 125px auto;
}

header {
  grid-area: header;

  background-color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  grid-area: nav;

  background-color: var(--tertiary-color);

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
  padding: 2%;
}

main {
  min-height: 0;
  grid-area: main;

  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 2em;

  padding: 3%;

  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}

main section {
  width: 100%;
}

h1 {
  color: var(--complement-secondary);
  font-size: var(--heading-font);
}

h2 {
  color: var(--secondary-color);
  padding: 1%;
  font-size: var(--small-font);
}

h3 {
  color: var(--tertiary-color);
  font-size: var(--small-font);
  margin-left: 4%;
  padding: 0.5%;

  text-decoration: underline;
}

.back-button {
  margin-right: auto;
}

.back-button img {
  width: 6rem;
}

.fin-nav {
  text-decoration: none;
  color: var(--complement-secondary);
  border: solid 2px var(--complement-secondary);
  border-radius: 4px;
  padding: 1% 2%;
  font-size: var(--smallest-font);
}

.fin-nav:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);

  transition: 0.8s ease;
}

.calc-areas {
  position: relative;
  background-color: var(--complement-secondary);
  border: solid 4px var(--secondary-color);
  border-radius: 12px;

  display: flex;
  justify-content: space-around;

  padding: 2%;
}

.group-of-inputs {
  display: flex;
  flex-direction: column;
  padding: 1%;
  gap: 1em;
  margin: 2%;
}

.single-input {
  display: flex;
  justify-content: end;
  min-width: 110%;
}

.single-input label {
  font-size: var(--smallest-font);
  color: var(--tertiary-color);

  font-weight: 900;
}

.single-input input {
  color: var(--accent-color);
  font-size: var(--smallest-font);
  padding: 0.5%;

  border: solid 4px var(--secondary-color);
}

.group-of-outputs {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: var(--primary-color);
  justify-content: space-around;
  min-width: 25%;
  border-radius: 12px;
  padding: 1%;
  border: solid 4px var(--secondary-color);
}

.output-line {
  color: var(--secondary-color);
  font-size: var(--smallest-font);
}

.output-line span {
  color: var(--accent-color);
}

.calculate-button {
  position: absolute;
  background-color: var(--accent-color);
  color: var(--primary-color);
  bottom: 0;
  left: 0;
  margin: 1%;
  padding: 0.5%;
  border-radius: 4px;
  font-size: var(--smallest-font);
}

/* * Small devices */
@media (max-width: 600px) {
  :root {
    --small-font: 1rem;
    --smallest-font: 0.65rem;
    --heading-font: 2rem;
    --minimal-font: 0.6rem;
  }

  .crud-buttons {
    flex-wrap: column-reverse;
  }
}

/* * Medium devices*/
@media (min-width: 801px) and (max-width: 1024px) {
  :root {
    --small-font: 2rem;
    --smallest-font: 1.25rem;
    --heading-font: 3rem;
    --minimal-font: 1rem;
  }
}

/* * Large devices */
@media (min-width: 1025px) {
  :root {
    --small-font: 2.5rem;
    --smallest-font: 1.75rem;
    --heading-font: 4rem;
    --minimal-font: 1.25rem;
  }
}
